@use '../../partials/colors';

.editArticleHeading {
  align-items: center;
  display: flex;
  gap: 32px;

  h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
  }

  button {
    background: colors.$primary-color;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-weight: 400;
    height: 36px;
    padding: 6px 12px;
    width: 127px;
  }
}

.editArticleBlock {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  h6 {
    margin-bottom: 8px;
  }

  input[type="text"] {
    box-sizing: border-box;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    font-size: 20px;
    height: 46px;
    padding: 8px 16px;
  }

  .imagePreview {
    align-self: start;
    height: 74px;
    margin-bottom: 8px;
  }

  .uploadControls {
    display: flex;
    gap: 8px;

    .pipe {
      color: #C8C8C8;
    }

    .delete {
      color: #DC3545;
      cursor: pointer;
    }
  }

  label.empty {
    align-items: center;
    background: #6C757D;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    color: #ffffff;
    justify-content: center;
    width: 147px;
    height: 36px;
  }

  label.full {
    color: colors.$primary-color;
    cursor: pointer;
  }

  input[type="file"] {
    display: none;
  }
}

//AdminArticleList START
.table {
  width: 100%;
  border-collapse: collapse;

  th {
    border-bottom: 2px solid #DFDFDF;
    text-align: left;
  }

  tr {
    height: 48px;
  }

  td {
    border-bottom: 1px solid #DFDFDF;
    color: colors.$text-body-color;
    padding: 3px;
  }

  .actionColumn {
    align-items: center;
    display: flex;
    gap: 24px;
    height: 48px;
  }

  .actionIcon {
    cursor: pointer;
    height: 24px;
  }
}

//AdminArticleList END

.recentArticlesContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

//ArticlePreview START
.previewContainer {
  display: flex;

  .thumbnail {
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    height: 244px;
    margin-right: 24px;
    min-width: 272px;
    width: 272px;
  }

  .previewRight {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 557px;
  }

  .previewTitle {
    font-size: 24px;
    font-weight: 500;
  }

  .previewInfo {
    align-items: center;
    font-size: 14px;
    display: flex;
    gap: 19px;
    color: colors.$text-secondary-color;

    .previewNavlink{
      text-decoration: none;
      padding: 4px 8px;
    }

    .previewNavlink:hover{
      text-decoration: underline;
    }
  }
}
//ArticlePreview END

.meta {
  display: flex;
  gap: 12px;
  font-size: 14px;
  color: colors.$text-secondary-color
}

//ArticleDetail START
.articleDetailContainer {
  max-width: 760px;

  .articleDetailThumbnail {
    background-size: cover;
    background-position: center;
    height: 504px;
    margin-bottom: 24px;
    min-width: 760px;
    width: 760px;
  }
}
//ArticleDetail END

//ArticleDetailRelatedArticles START
.relatedArticlesContainer {
  border-left: 1px solid #DFDFDF;
  position: fixed;
  top: 100px;
  left: 1008px;
  padding-left: 25px;
  width: 371px;
  h3 {
    margin: 0 0 32px 0;
  }
  .relatedArticlesPost{
    cursor: pointer;
    margin-bottom: 24px;
  }
  h4 {
    margin: 0 0 8px 0;
  }
}
//ArticleDetailRelatedArticles END

//ArticleDetailComments START
.articleDetailCommentsContainer {
  border-top: 1px solid #DFDFDF;
  display: flex;
  flex-direction: column;
  width: 759px;
  max-width: 759px;
}
//ArticleDetailComments END
